<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<script>
    function checkOnlyOne(element) {
        const checkboxes = document.getElementsByName("status");
        checkboxes.forEach((cb) => {
            cb.checked = false;
        })
        element.checked = true;
    }

    function toggleTextbox(checkbox) {
        const textbox_elem = document.getElementById("etc");
        textbox_elem.disabled = checkbox.checked ? false : true;

        if(textbox_elem.disabled) {
            textbox_elem.value = null;
        } else {
            textbox_elem.focus();
        }
    }
</script>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form action="/images/monitor" method="post">
        <div class="form-group">
<!--            <span name="firstImage" th:text="${firstImage.name}">첫번째 이미지 이름</span>-->
<!--            <img th:src="@{/display?filename=} + ${firstImage.name}" width="700px" height="450px"/>-->
<!--            <div name="firstImage" class="form-control">-->
            <span name="firstImage" th:text="${firstImage.name}">첫번째 이미지 이름</span>
<!--            </div>-->
            <img th:src="@{/display?filename=} + ${firstImage.name}" width="700px" height="450px"/>
        </div>
        <div class = "form-check">
            <input type="checkbox" name="status" class="form-check-input" value="swoom" onclick="checkOnlyOne(this)"/> 실신 <br/>
            <input type="checkbox" name="status" class="form-check-input" value="malfunction" onclick="checkOnlyOne(this)"/> 오작동 <br/>
            <input type="checkbox" name="status" class="form-check-input" value="etc" onclick="javascript:checkOnlyOne(this);toggleTextbox(this);"/> 기타
            <input type="text" id="etc" name="etc" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div th:each="image : ${images}" name="images">
        <span th:text="${image.name}">이미지 이름</span>
        <img th:src="@{/display?filename=} + ${image.name}" width="500px" height="300px"/><br><br>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>